<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="7.1.1" targetFramework="net462" />
  <package id="MediatR" version="3.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="StructureMap" version="4.5.2" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="wikia" version="2017.7.29.1" targetFramework="net462" />
</packages>