<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ygo-settings" type="ygo_scheduled_tasks.application.Config, ygo-scheduled-tasks.application" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="CronExpression" value="0 0 12 ? 1/1 THU#3 *" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <!-- Wiki configuration-->
  <ygo-settings WikiaDomainUrl="http://yugioh.wikia.com" ApiUrl="http://localhost:56531" OAuthEmail="cardinformation@fablecode.com" OAuthPassword="CardInformation-Scheduled-Task-42" />

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="consolebrief" value="${level} | ${message}" />
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/${shortdate}/${level}.log" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="Console" xsi:type="ColoredConsole" layout="${consolebrief}" />
    </targets>

    <rules>
      <logger name="*" levels="Info, Warn, Error, Fatal" writeTo="file" />
      <logger name="*" levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="Console" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>